*,
*:before,
*:after {
  box-sizing: border-box;
}

p {
  margin: 0;
}

// .window-scrollbar::-webkit-scrollbar {
//   width: 5px;
//   background-color: var(--accents-1);
// }

// .window-scrollbar::-webkit-scrollbar-thumb {
//   background-color: var(--accents-2);
//   border-radius: 5px;
// }

:root {
  --vp-c-bg: var(--geist-background);
  --vp-sidebar-bg-color: var(--geist-background);
  --vp-code-color: var(--geist-code);
  --vp-code-bg: none;
  --vp-code-font-size: 0.9rem;
}

.dark {
  --vp-c-bg: var(--geist-background);
  --vp-sidebar-bg-color: var(--geist-background);
  --vp-code-color: var(--geist-code);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #bd34fe 30%, #41d1ff);

  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #bd34fe 50%,
    #47caff 50%
  );
  --vp-home-hero-image-filter: blur(40px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(72px);
  }
}

.vp-doc {
  .not-vp-doc {
    * {
      all: revert;
    }
  }

  // a.g-link {
  //   font-weight: normal;
  //   color: inherit;
  //   text-decoration: none;

  //   display: inline-flex;
  //   line-height: inherit;
  //   color: inherit;
  //   svg {
  //     display: inline-flex;
  //     margin: 0 5px;
  //     color: inherit;
  //     width: 1em;
  //     height: 1em;
  //   }
  //   &:hover {
  //     .more {
  //       padding-left: 8px;
  //     }
  //   }
  //   &.no-decoration {
  //     text-decoration: none;
  //   }
  //   &.bold {
  //     font-weight: 700;
  //   }
  //   &.color {
  //     color: var(--geist-success);
  //   }
  // }
}
