:root {
  --vp-c-bg: var(--geist-background);
  --vp-sidebar-bg-color: var(--geist-background);
  --vp-code-color: var(--geist-code);
  --vp-code-bg: none;
  --vp-code-font-size: 0.9rem;
}

.dark {
  --vp-c-bg: var(--geist-background);
  --vp-sidebar-bg-color: var(--geist-background);
  --vp-code-color: var(--geist-code);
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

p {
  margin: 0;
}