.g-description {
  margin: 0;
}
.g-description-title {
  height: rem(14);
  line-height: rem(14);
  font-size: rem(12);
  margin-bottom: rem(8);
  text-transform: uppercase;
  white-space: nowrap;
  color: var(--accents-5);
  display: flex;
}
.g-description-content {
  margin: 0;
  font-size: rem(14);
  line-height: rem(16);
  color: var(--geist-foreground);
  font-weight: 500;
}
